/* li {
    display: inline;
    border: solid 1px black;
    margin: 0px 5% 50px 5%;
    padding: 15px;
} */

/* #section2{
    /* margin-right: 10px;
}

#section1{
    margin-right: 1-px;
    float:left;
    padding: 25px, 15px;
} */

/* #section1, #section2 {
    margin: 20px;
    float: left;
}

#section3 {
    margin-left: 40px;
    margin-bottom: 20px;
} */

nav {
    margin: 5px;
}

li {
    border: solid 1px black;
    display: inline;
    margin: 70px;
    padding: 10px;
}

#section1, #section2 {
    padding-top: 20px;
    display: inline;
}

footer {
    border: solid black 1px;
    text-align: center;
    padding-top: 40px;
    width: 700px;
}